body {
  background-color: antiquewhite;
  font-family: 'Titillium Web', sans-serif;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

.container {
  width: 90%;
  margin: 0 auto;

  background:url("https://damt7w3yoa0t2.cloudfront.net/img/home/home-bg-22197c9.jpg");
  background-size: cover;
  height: 100%;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

label {
  display: inline-block;
  text-align: right;
  width: 140px;
}
